@model Book_Reading_Event_Management.Models.Invite

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        * {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-align: justify;
        }
    </style>
</head>
<h2>Invite Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <!--@Html.ActionLink("Back to List", "Index")
</p>-->
