@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        * {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-align: justify;
        }
        h1 {
            margin:20px 0px;
            text-align: center;
        }
        .Websitedec {
            margin: 20px 0px;
            font-size: 15px;
        }
        .points li {
            padding :1px 0px;
            margin: 5px 0px;
        }
        
    </style>
</head>

<h1 >Hello Everyone Welcome To Book Reading Events Management</h1>
<p class="Websitedec">
    A book reading event app is an online web application that is a single-point entry for all book lovers across India.
    Any registered and verified user who wants to keep a book reading event can create an event,
    invite people they know by specifying their email ids, 
    or can keep the event open for all. The invited people need not be registered users.
    Due to some problem, if someone is not able to create an event, she/he can ask some other registered user to keep an event on their behalf of her/him.
    The registered user can check for the public events happening by just browsing into to portal and for private events, one can check the invited list of events by logging into the portal.
    Admin can see all the events (whether it is public or private) and all the registered users. As per the requirement, the admin can Edit as well as Delete any future public or private event details.
</p>

<p>
    <ul class="points">
        <li>An Event Management website where one can Organise and Attend Public or Private events.</li>
        <li>People can be invited to these events via their Email addresses.</li>
        <li>These Events could be Updated or Deleted if it hasn't been held till now.</li>
        <li>Maximum duration that can be alloted to an event is 4 hours.</li>
        <li>Role Based Authentication is provided to identify Admin.</li>
        <li>Admin can update all types of events, invitees, time and location of the event.</li>
        <li>Admin also have access to delete any of the event.</li>
    </ul>
</p>